:root {
  --primary-color: #254336;
  --secondary-color: #b7b597;
  --tertiary-color: #dad3be;
  --high-light-color: #6b8a7a;
}
hr {
  color: var(--secondary-color);
}
.Footer a {
  color: var(--high-light-color);
  text-decoration: none;
}

.Footer p {
  font-family: monospace;
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
}
